*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: rgb(148, 50, 66);
    color: white;
    text-align: center;
    padding: 30px 0 30px 0;
}
.add-form{
    border: 1px solid #dedede;
    text-align: center;
    margin: 20px 200px 20px 200px;
    padding: 50px;
    border-radius: 10px;

}
#txt-task{
    width: 60%;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #dedede;
    font-size: 18px;
}

.btn{
    background-color: #910523;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;

}
.btn :hover{
    transform: scale(1.1);
}

ul li{
    display: flex;
    justify-content: space-between;
    width: 800px;
    list-style-type: none;
    background-color: #dedede;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 10px;
}

ul li:hover{
    background-color: #d1abab;

}
